html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#grid {
    flex: 1 100%;
    background-color: grey;
}

#sounds {
    padding-top: 20px;
}

#drop {
    flex: 1 100px;
    font-size: 50pt;
    text-align: center;
    background-color: green;
}

#bar {
    flex: 1 50px;
    background-color: grey;
}
